useDynLib(kBestShortestPaths)
export(kBestShortestPaths)
export(summary)
export(plot)
importClassesFrom(methods, list, vector)
importFrom(graphics, abline, axis, par, title, plot)
importFrom(stats, density)
importMethodsFrom(graph, edgeWeights, nodes)

